// ================== Universal Styling ==================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap');

// * {
//     color: #575451;
// }

body {
    position: relative;
    // margin: 100px;
    background-color: #A8A49E;
}

h1 {
    font-family: Playfair;
    font-size: 36px;
    font-weight: 300;
}

h2 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
}

h5 {
    font-family: Montserrat;
    font-size: 16px;
    // font-weight: bold;
}


// ================== Home.js ==================

// ======= Profile.js, CategoryShow.js, DishShow.js, LocationShow.js =======
// ================== Profile.js ==================
// ================== CategoryShow.js ==================
// ================== DishShow.js ==================
// ================== LocationShow.js ==================
#name {
    text-align: left;
    color: #575451;
}

#location {
    margin: 5px 10px 5px 10px;
    color: #575451;
}

#cityState {
    margin: 5px 10px 10px 13px;
    color: #575451;
}

#dish {
    margin: 20px 10px 5px 10px;
}

#body {
    font-family: Playfair;
    font-size: 20px;
    margin: 5px 10px 10px 13px;
}

#date {
    font-family: Montserrat;
    font-size: 14px;
    color: #575451;
    margin: 5px 10px 10px 13px;
}


// ================== Search.js ==================

.search {
    margin-top: 120px;
    margin-left: 5vw;
    // background: url("https://imgur.com/a/algEgF2");
    background-image: url("./images/search.jpg");
    height: 80vh;
    width: 90vw;
    opacity: 0.75;
}

.searchForm {
    padding: 250px 150px 200px 150px;
}

.input {
    height: 40px;
    width: 250px;
    text-align: center;
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    background-color: white;
    border: none;
}

.formButton {
    height: 42px;
    width: 250px;
    margin: 10px;
    text-align: center;
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    background-color: white;
    border: none;
}


// ================== CreateNew.js ==================

.create {
    margin-top: 120px;
    margin-left: 5vw;
    // background: url("https://imgur.com/a/algEgF2");
    background-image: url("./images/newpost.jpg");
    height: 80vh;
    width: 90vw;
    opacity: 0.75;
}

.createHeader {
    padding-top: 30px;
    color: white;
}

.createForm {
    padding-top: 15px;
    margin-left: 15vw;
    height: 600px;
    width: 600px;
    // border: 1px black solid;
    background-color: white;
    opacity: 0.75;
}

.createInput {
    height: 40px;
    width: 400px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #575451;
    text-align: left;
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 10px;
}

.cityInput {
    height: 40px;
    width: 300px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #575451;
    text-align: left;
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 10px;
}

.stateInput {
    height: 40px;
    width: 100px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #575451;
    text-align: left;
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 10px;
}

.commentInput {
    height: 120px;
    width: 400px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #575451;
    text-align: left;
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 10px;
}

.createLabel {
    height: 40px;
    width: 400px;
    text-align: left;
    font-family: Montserrat;
    font-size: 20px;
}

.newPostButton {
    height: 42px;
    width: 200px;
    margin: 10px;
    text-align: center;
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    background-color: white;
    border: 1px #575451 solid;
    border-radius: 5px;
}

// ================== Login.js ==================



// ================== Register.js ==================

