// ================== Universal Styling ==================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap');


body {
    position: relative;
    background-color: #A8A49E;
}

h1 {
    font-family: Playfair;
    font-size: 36px;
    font-weight: 300;
}

h2 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
}

h5 {
    font-family: Montserrat;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    background: lightgray;
    opacity: 0.75;
}


// ================== Home.js ==================
.home {
    margin-top: 120px;
}

.container {
    margin: 0 50px 0 50px;
}

.img1 {
    width: 500px;
    box-shadow: 5px 5px 15px;
}

.homeHeader1 {
    font-family: Montserrat;
    font-size: 42px;
    font-weight: bold;
    color: #575451;
    text-align: left;
    margin: 45px 115px 0 115px;
}

.img2 {
    width: 380px;
    box-shadow: 5px 5px 15px;
}

.homeHeader2 {
    font-family: Montserrat;
    font-size: 42px;
    font-weight: bold;
    color: #575451;
    text-align: left;
    margin-bottom: 75px;
}


// ======= Profile.js, CategoryShow.js, DishShow.js, LocationShow.js =======
// #name {
#headerName {
    text-align: left;
    color: #575451;
    margin-top: 100px;
    margin-left: 20px;
}

#location {
    margin: 5px 10px 5px 10px;
    color: #575451;
}

#cityState {
    margin: 5px 10px 10px 13px;
    color: #575451;
}

#dish {
    margin: 20px 10px 5px 10px;
}

#body {
    font-family: Playfair;
    font-size: 20px;
    margin: 5px 10px 10px 13px;
}

#date {
    font-family: Montserrat;
    font-size: 14px;
    color: #575451;
    margin: 5px 10px 10px 13px;
}


// ================== Profile.js ==================
.container-fluid {
    margin-top: 10px;
}

.editForm {
    padding-top: 15px;
}

.editLabel {
    height: 20px;
    width: 400px;
    margin: 5px 10px 10px 13px;
    text-align: left;
    font-family: Montserrat;
    font-size: 14px;
}

.editInput {
    height: 40px;
    width: 350px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #575451;
    text-align: left;
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    margin: 5px 10px 0 13px;
}

.profileButton {
    height: 30px;
    width: 120px;
    margin: 5px auto 5px 13px;
    text-align: center;
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    background-color: white;
    border: 1px #575451 solid;
    border-radius: 5px;
}


// ================== CategoryShow.js ==================
// ================== DishShow.js ==================
// ================== LocationShow.js ==================


// ================== Search.js ==================

.search {
    margin-top: 120px;
    margin-left: 5vw;
    background-image: url("./images/search.jpg");
    background-repeat: no-repeat;
    height: 80vh;
    width: 90vw;
    opacity: 0.75;
}

.searchForm {
    padding: 250px 150px 200px 150px;
}

.input {
    height: 40px;
    width: 250px;
    text-align: center;
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    background-color: white;
    border: none;
}

.formButton {
    height: 40px;
    width: 250px;
    margin: 10px;
    text-align: center;
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    background-color: white;
    border: none;
}


// ================== CreateNew.js ==================
.create {
    margin-top: 120px;
    margin-left: 5vw;
    background-image: url("./images/newpost.jpg");
    background-repeat: no-repeat;
    height: 80vh;
    width: 90vw;
    opacity: 0.75;
}

.createHeader {
    padding-top: 30px;
    color: white;
}

.createForm {
    padding-top: 15px;
    margin: 0 auto;
    height: 600px;
    width: 600px;
    background-color: white;
    opacity: 0.75;
}

.locationLabel, .cityLabel, .stateLabel, .categoryLabel, .dishLabel, .captionLabel, .urlLabel {
    height: 40px;
    text-align: left;
    font-family: Montserrat;
    font-size: 20px;
    color: black;
    margin-right: 10px;
    margin-bottom: 10px;
}

.locationInput, .cityInput, .stateInput, .categoryInput, .dishInput, .uploadInput {
    height: 40px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #575451;
    text-align: left;
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 10px;
}

.locationInput, .categoryInput {
    width: 415px;
}

.cityInput {
    width: 300px;
}

.stateLabel {
    margin-left: 10px;
}

.stateInput {
    width: 100px;
}

.dishInput {
    width: 405px;
}

.captionInput {
    height: 80px;
    width: 430px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #575451;
    text-align: left;
    color: black;
    font-family: Montserrat;
    font-size: 20px;
}

.uploadLabel {
    height: 30px;
    text-align: left;
    font-family: Montserrat;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-right: 10px;
}

.urlInput {
    height: 40px;
    width: 400px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #575451;
    text-align: left;
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 20px;
}

.newPostButton {
    height: 42px;
    width: 200px;
    margin: 10px;
    text-align: center;
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    background-color: white;
    border: 1px #575451 solid;
    border-radius: 5px;
}

// ================== Login.js ==================
.loginImg {
    width: 550px;
    margin-top: 150px;
    box-shadow: 5px 5px 15px;
}

.loginForm, .registerForm {
    margin-top: 275px;
}

.form-group {
    margin-left: 50px;
}

#loginHeader {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    color: #575451;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 30px;
}

.emailLabel, .passwordLabel {
    height: 40px;
    width: 125px;
    text-align: left;
    font-family: Montserrat;
    font-size: 20px;
    color: #575451;
}

.loginButton {
    height: 42px;
    width: 75px;
    margin: 10px;
    text-align: center;
    color:#575451;
    font-family: Montserrat;
    font-size: 20px;
    background-color: white;
    border: 1px #575451 solid;
    border-radius: 5px;
}


// ================== Register.js ==================
.registerImg {
    width: 450px;
    margin-top: 150px;
    box-shadow: 5px 5px 15px;
}

#registerHeader {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    color: #575451;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 30px;
}

.registerLabel {
    height: 40px;
    width: 200px;
    text-align: left;
    font-family: Montserrat;
    font-size: 20px;
    color: #575451;
}

.registerButton {
    height: 42px;
    width: 150px;
    margin: 10px 10px 10px 110px;
    text-align: center;
    color:#575451;
    font-family: Montserrat;
    font-size: 20px;
    background-color: white;
    border: 1px #575451 solid;
    border-radius: 5px;
}