@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap');

header {
  background-color: white;
  text-align: left;
  padding: 20px 40px 20px 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: 5;


  .logo {
    font-family: Playfair;
    font-weight: bold;
    font-size: 28px;
  }

  .links {
    font-family: Montserrat;
  }

  a {
    color: black;
    transition: color 0.3s ease;

    &:hover {
      color: darken(#fff, 20%);
      transform: scale(1.5);
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 0px 10px;
    }
  }
}